<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center" style="background-color: gray; color:white">
          <h1>SignUp Area</h1>
          <h5>Create Account</h5>
        </div>
        <hr>
    <form action="">
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label"
          >Username</label
        >
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Enter your username"
        />
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label"
          >Password</label
        >
        <input
          type="password"
          class="form-control"
          id="formGroupExampleInput2"
          placeholder="Enter your password"
        />
      </div>
      <button type="button" class="btn btn-primary text-center">signUp</button>

    </form>
    <a style="text-decoration: none; cursor: pointer; color: blue; font-weight:bold;" routerLink="/login"> Already an Account ? Click to login</a>
  </div>
  </div>
</div>
</div>
