<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let data of allCourses">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{data.title}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{data.time}} Heures</h6>
          <p class="card-text">{{data.description}}</p>
          <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Modifier</a>
          <a class="btn btn-danger mx-3" (click)="deleteCourse(data)">Supprimer</a>
        </div>
      </div>
    </div>
  </div>
</div>
