<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center" style="background-color: gray; color:white">
          <h1>Admin Area</h1>
          <h5>Login To Manage Courses</h5>
        </div>
        <hr>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label"
          >Username</label
        >
        <input
        formControlName="username"
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Enter your username"
        />
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label"
          >Password</label
        >
        <input
        formControlName="password"
          type="password"
          class="form-control"
          id="formGroupExampleInput2"
          placeholder="Enter your password"
        />
      </div>
      <button type="submit" class="btn btn-primary text-center">login</button>
    </form>
    <a style="text-decoration: none; cursor: pointer; color: red; font-weight:bold;" routerLink="/signup"> New here ? Click to SignUp</a>
  </div>
  </div>
</div>
</div>
